.padding-no{
    padding:0px;
}
.noborder{

    border: none;
}
.fullscreen{
    width:100%;
    height:100%;
    background-color:#000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
    position:absolute;
    left:0px;
    top:0px;
    z-index:10200;
}

.header {
    background: #222;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    padding: 138px 0 0;
    text-align: center;
    min-height: 400px;
    position: relative;
}
.toppadding{padding-top: 15px;}
.bottompadding{
    padding-bottom: 15px;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.btn-sharmoon
{   color: #5e5e5e;
    display: inline-block;
    padding: 15px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
}

.btn-sharmoon:focus,
.btn-sharmoon:active:focus,
.btn-sharmoon.active:focus,
.btn-sharmoon.focus,
.btn-sharmoon:active.focus,
.btn-sharmoon.active.focus {

}
.btn-sharmoon:hover,
.btn-sharmoon:focus,
.btn-sharmoon.focus {
    color: #333;
    text-decoration: none;
}
.btn-sharmoon:active,
.btn-sharmoon.active {
    background-image: none;
    outline: 0;

}
.btn-sharmoon.disabled,
.btn-sharmoon[disabled],
fieldset[disabled] .btn-sharmoon {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}




.logotxt a {
    font-weight: 700;
    color: #fff;
    font-size: 64px;
}

.bg-hui{
    background-color: #e9e9e9;

}
.logoimg {
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: -34px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
body {
    padding-top:50px;
}

.form-signin {
    width: 350px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input{
   margin-bottom:15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
